.react {
    width: 80% !important;
}

.button {
    align-self: flex-end;
  background-color: blue;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-direction: column !important;
}
.questionContainer {
    display:flex;
    flex-direction: column;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    gap: 10px;
}