*.DS_Store
*.vscode
*__pycache__
*.venv
*.env
Animations/Graphs/1_Intro.py
*.mp4
.cache
backend/media/videos
backend/media/texts
backend/media/images
backend/media/3_dfs-1.py
backend/media/*-[0-9].py
backend/media/demo.py
backend/utils/.env
backend/db.sqlite3
backend/media/demo.py