
#header {
  height: 20%;
}
#body {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: blue;
  position:relative;
  height: 100%;
  width: 100%;
  opacity: 100% !important;
}
#body .react {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}