
#header {
  height: 20%;
}
#body {
  flex: 1;
  display: flex;
  background-color: rgb(233, 233, 233);
  position:relative;
  opacity: 100% !important;
}
.react {
  position: absolute;
  top: 0;
  left: 0;
  height: 100% !important;
  width: 100% !important;
}