.main-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-color: white;
    background-color: var(--dbl-1);
}

button {
    cursor: pointer;
    font-size: 40px;
    color: var(--gr-2);
}

.background {
  min-height: 100vh;
  background-color: var(--dbl-1);
}